@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary-claret: #3a0a1e;
  --color-primary-blue: #7fa8cc;
  --color-primary-yellow: #f2c14e;
  --color-primary-white: #eae6dc;
  --color-primary-black: #201c13;
  --font-imb: "IBM Plex Sans";
  --breakpoint-full-hd: 1920px;
}